.wrapper {
  width: 600px;
  margin: 0 auto;
}

header {
    -webkit-border-radius: 10px;
    background-color: grey;
  padding: 1em;
  color: Aqua;
}

ul.posts {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }

.post-body {
    color: white;
    background-color: grey;
        padding: 1em;
    -webkit-border-radius: 10px;
  }

  .meta {
    color: Aqua;
  }

  .h1-head {
    color: Aqua;
  }

li {
    margin-top: 2em;
    padding: 1em;
    -webkit-border-radius: 10px;
    background-color: grey;
    color: AliceBlue;
  }



  
